<div class="container">
    <h1>Detalles empresa</h1>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group">
                <label for="nit">NIT</label>
                <input [(ngModel)]="nit" type="text" class="form-control" id="nit" aria-describedby="nitAyuda" placeholder="NIT" disabled="true">
                <small id="nitAyuda" class="form-text text-muted"></small>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-7">
            <div class="form-group">
                <label for="razonSocial">Razón social</label>
                <input [(ngModel)]="razonSocial" type="text" class="form-control" id="razonSocial" aria-describedby="razonSocialAyuda" placeholder="Razón social" disabled="true">
                <small id="razonSocialAyuda" class="form-text text-muted"></small>
            </div>
        </div>
    </div>
</div>